@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    color: black;
}   /*Cuerpo*/

body::-webkit-scrollbar{
    display: none;
}


.titulo-nombre{
    font-size: 30px;
    top: 40px;
    left: 1120px;
}
.nav-fecha img{
    position: relative;
    top: 0;
    left: 30px;
    width: 45px;
    height: 45px;
}
#logo-linkedin, #logo-github, #logo-email{
    width: 45px;
    height: 45px;
}
.navegacion-principal{
    position: relative;
    right: 0;
    top: 0;
}
.navegacion-principal li{
    display: inline;
}   /*Barra de navegación superior*/


.imgCertificados{
    margin: 0 50px;
    width: auto;
    height: 580px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/certificados.jpeg);
    opacity: 100%;
}
.imgCertificados h1{
    position: relative;
    top: 230px;
    font-size: 100px;
    text-align: center;
    color: white;
}/*texto del encabezado*/
/*Encabezado*/


.seccion-certificados{
    display: flex;
    padding: 150px 0;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.contenedor{
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}

.image {
    border-radius: 10px;
    width: 435px;
    height: 334px;
    border: solid;
    border-color: #282626;
    border-width: 1px;
}

.overlay{
    position: relative;
    bottom: 335px;
    left: auto;
    background-color: #282626;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
    border-radius: 10px;
    opacity: 70%;
}
.contenedor a{
    text-decoration: none;
    color: white;
}
.contenedor:hover .overlay{
    transform: scale(1);
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}/*Secion de certificados*/

/*Footer*/
footer{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.footer {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
    background-size: cover;
    
}
.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
}
    .first h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }
        .first h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    .first p {
        font-size: 14px;
    }
.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}
    .second h4::after {
        content: '';
        background: #66c83d;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }
.second li {
    list-style: none;
    padding-bottom: 30px;
}
.second a, .second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}
    .second a:hover, .second2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none

    }
.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}
    .third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }
        .third h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }
    .third li {
        list-style: none;
        padding-bottom: 15px;
    }
    .third a {
        color: rgb(206, 206, 206);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }
        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }
@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}
@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}
.margin {
    margin-left: 20px;
}
.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}
.container h1{
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}
/*footer*/

@media (max-width:1050px) {
    .nav-fecha img{
        left: 0;
    }
    #logo-email{
        margin-right: 0;
    }
    .emailDireccion{
        margin-right: 0;
    }
    .imgCertificados{
        margin-left: 0;
        margin-right: 0;
    }
}




@media (max-width:720px) {
    .footerContacto, .footerNavegacion{
        display: none;
    }
}
@media (max-width:620px) {
    .imgCertificados h1{
        top: 240px;
        font-size: 85px;
    }
}
@media (max-width:570px) {
    .imgCertificados{
        height: 420px;
    }
    .imgCertificados h1{
        top: 165px;
        font-size: 70px;
    }
}
@media screen and (max-width:520px){ 
    .titulo-nombre{
        display: none;
    }
    #logo-linkedin, #logo-github, #logo-email{
        width: 40px;
        height: 40px;
    }
    .nav-fecha img{
        width: 40px;
        height: 40px;
    }/*navBar*/



    .image {
        border-radius: 10px;
        width: 300px;
        height: 230px;
    }
    .text {
        font-size: 18px;
    }
    .overlay{
        bottom: 230px;
    }
}
@media screen and (max-width:420px){
    .imgCertificados h1{
        top: 175px;
        font-size: 55px;
    }
/*Secion de certificados*/
 }

