@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    color: black;
}   /*Cuerpo*/
body::-webkit-scrollbar{
    display: none;
}/*scroll*/

/*Barra de navegación*/
.navegacion__logos--nombre{
    font-size: 30px;
    top: 40px;
    left: 1120px;
}
.navegacion__fecha img{
    position: relative;
    top: 0;
    left: 30px;
    width: 45px;
    height: 45px;
}
.navegacion__logos--img{
    position: relative;
    right: 0;
    top: 0;
}
.navegacion__logos--img li{
    display: inline;
}
#logo-linkedin, #logo-github, #logo-email{
    width: 45px;
    height: 45px;
}
#logo-email{
    margin-right: 20px;
}



/*Sección de presentación*/
.imgProyecto{
    margin:  0 50px;
    width: auto;
    height: 580px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/proyectos.jpeg);
    background-repeat: round;
}
.imgProyecto h1{
    position: relative;
    top: 230px;
    font-size: 100px;
    text-align: center;
    color: white;
}/*Texto del encabezado*/


/*Sección descripción*/
.secDescripcion{
    display: flex;
    align-items: center;
    margin: 50px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
} 
.secDescripcion__texto{
    font-size: 20px;
    color: rgb(105, 112, 115);
    text-align: justify;
    width: 50%;
}
.tecnologias{
    display: flex;
    flex-direction: column;
    margin: 80px;
}
.contTecnologias{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
a .contTecnologias__titulo--img{
    width: 520px;
    height: 280px;
    margin: 0;
}
.secDescripcion__titulo,
.contTecnologias__titulo,
.tituloT1{
    font-size: 80px;
    color: black;
}


.contTecnologias__titulo{
    margin: 50px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tituloT1{
    margin-left: 50px;
}
.tipoTecnologias{
    display: flex;
    justify-content: flex-start;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20%;
    margin: 0 250px;
    font-size: 30px;
    color: rgb(121, 127, 135);
}
.tipoTecnologias div{
    width: 33%;
    height: auto;
    margin-bottom: 20px;
}
.container h1{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}


/*Sección de desarrollo*/
.desarrollo{
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  .fila:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .contenedor {
    position: relative;
    display: none;
    margin-bottom: 5rem;
  }
  
  #imgtext,
  #imgtext2,
  #imgtext3 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    color:rgb(255, 255, 255);
    font-size: 3rem;
    cursor: pointer;
    
  }
  


/*Footer*/
footer{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.footer {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
    background-size: cover;
    
}
.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
}
    .first h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }
        .first h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    .first p {
        font-size: 14px;
    }
.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}
    .second h4::after {
        content: '';
        background: #66c83d;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }
.second li {
    list-style: none;
    padding-bottom: 30px;
}
.second a, .second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}
    .second a:hover, .second2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none

    }
.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}
    .third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }
        .third h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }
    .third li {
        list-style: none;
        padding-bottom: 15px;
    }
    .third a {
        color: rgb(206, 206, 206);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }
        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }
@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}
@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}
.margin {
    margin-left: 20px;
}
.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}
.container h1{
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}
/*footer*/



/*R*/
@media (max-width:1050px) {
    /*Barra de navegación*/
    .navegacion__fecha img{
        left: 0;
    }
    #logo-email{
        margin-right: 0;
    }
    .emailDireccion{
        margin-right: 0;
    }
    /*Sección de presentación*/
    .imgProyecto{
        margin-left: 0;
        margin-right: 0;
    }
    /*Sección descripción*/
    .tipoTecnologias{
        margin: 0 100px;
    }
    
    
}

@media(min-width:720px){
    /*Sección descripción*/
    a .contTecnologias__titulo--img{
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .contTecnologias__titulo{
        margin: 50px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .contTecnologias__titulo img:hover{
        width: 590px;
        height: 310px;
    }
}

@media (max-width:720px) {
    /*Sección descripción*/
    .secDescripcion__texto{
        width: 100%;
    }
    a .contTecnologias__titulo--img{
        margin: 10px;
    }
    .contTecnologias__titulo h1{
        margin-bottom: 0;
    }
    
    /*Footer*/
    .footerContacto, .footerNavegacion{
        display: none;
    }
}

@media (max-width:570px) {
    /*barra de navegación*/
    .navegacion__fecha img{
        left: 0;
        width: 40px;
        height: 40px;
    }
    .navegacion__logos--nombre{
        display: none;
    }
    #logo-linkedin, #logo-github, #logo-email{
        width: 40px;
        height: 40px;
    }
    #logo-email{
        margin-right: 0;
    }

    /*Sección de presentación*/
    .imgProyecto{
        height: 420px;
    }
    .imgProyecto h1{
        top: 160px;
        font-size: 70px;
    }

    /*Sección descripción*/
    .secDescripcion{
        margin: 20px;
    }
    .secDescripcion__titulo h1,
    .contTecnologias__titulo h1,
    .tituloT1 h1{
        font-size: 27px;
        text-align: left;
    }
    .tituloT1{
        margin-left: 20px;
    }
    .contTecnologias__titulo img{
        width: 320px;
        height: 180px;
        margin: 10px;
        margin-top: 0;
    }
    .tipoTecnologias__nombre{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .secDescripcion__texto p{
        font-size: 17px;
    }
    .tipoTecnologias{
        justify-content: left;
        margin-left: 20px;
        margin-right: 10px;
        font-size: 17px;
    }
    .tipoTecnologias div{
        width: 100%;
        margin-bottom: 20px;
    }
    
    
    

    
}

@media (max-width:420px) {
    /*Sección de presentación*/
    .imgProyecto h1{
        top: 160px;
        font-size: 55px;
    }

    /*Sección descripción*/
    .contTecnologias__titulo h1{
        font-size: 19px;
    }
    .contTecnologias__titulo img{
        width: 230px;
        height: 110px;
        margin: 0 6px 6px 6px;
    }
}