@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

/*Cuerpo*/
body{
    font-family: 'Raleway', sans-serif;
    color: black;
}   /*Cuerpo*/
body::-webkit-scrollbar{
    display: none;
}/*scroll*/


/*Barra de navegación principal*/
.navPrincipal{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.71);
    color: #a6a6a6;
}

.navPrincipal li{
    display: inline;
}

.navPrincipal__contPortafolio,
.navPrincipal__contNombreLogos{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

#logo-linkedin,
#logo-github, 
#logo-email{
    width: 45px;
    height: auto;
}

.navPrincipal__contNombreLogos--nombre,
.navPrincipal__contPortafolio--titulo{
    font-size: 30px;
}

.navPrincipal__contPortafolio--titulo{
    margin-left: 50px;
}

.navPrincipal__contNombreLogos--nombre{
    margin-right: 30px;
}



/*Barra de navegación lateral*/
.navLateral{
    position: fixed;
    top: 110px;
}

.navLateral #ultimo-logo{
    position: relative;
    left: 5px;
    top: 2px;
}



/*Sección principal*/
.principal{
    display: flex;
    padding: 115px 0 0 0;
    width: 940px;
    margin: 0 auto;
    align-items: center;
}

.principal__contenedor{
    flex-direction: column;
}

.principal__img{
    justify-content: left;
    width: 440px;
    margin: 0 20px 0 0;
    border-radius: 95px;
}

.principal__contenedor--saludo{
    font-size: 100px;
    padding: 10px 0 15px 0;
    margin-bottom: 15px;
}

.principal__contenedor--datos{
    font-size: 80px;
    margin-bottom: 5px;
}

.principal__contenedor--frase,
.principal__contenedor--autor{
    font-size: 20px;
}

.principal__contenedor--frase{
    padding: 10px 0 5px 0;
}




/*Secciones*/
.proyectos,
.certificados,
.nube{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    padding: 140px 0 0 0;
    margin: 0 40px 40px 50px;
}

.proyectos__contenedor,
.certificados__contenedor,
.nube__contenedor{
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 50px;
}  

.proyectos__img,
.certificados__img,
.nube__img{
    width: 800px;
    height: 540px;
    transition: 600ms;
}

.proyectos h2,
.certificados h2,
.nube h2{
    font-size: 100px;
    margin-bottom: 10px;
}   

.proyectos p,
.certificados p,
.nube p{
    font-size: 22px;
    margin-bottom: 20px;
    color: rgba(41, 39, 39, 0.81);
}  

.proyectos .btn-muestrameMas,
.certificados .btn-muestrameMas,
.nube .btn-muestrameMas{
    width: 350px;
    padding: 15px 50px;
    font-size: 18px;
    font-weight: bold;
    background: #000000;
    border:none;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.2s;
    cursor:pointer;
}   


/*botones*/
.proyectos .btn-muestrameMas:hover{
    background-color: #000000;
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
}   /*Boton proyectos*/

.certificados .btn-muestrameMas:hover{
    background-color: #000000;
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
}   /*Boton certificados*/

.nube .btn-muestrameMas:hover{
    background-color: #000000;
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
}   /*Boton certificados*/

.btn-muestrameMas a{
    color: white;
    text-decoration: none;
}/*Color de letras de botones*/


/*animaciones de imagenes*/
.proyectos__img, .certificados__img, .nube__img{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 5px 5px 5px 5px #000000;
}/*Bordes de imagenes*/

.proyectos__img:hover{
    opacity: 70%;  
}

.certificados__img:hover{
    opacity: 70%;
}

.nube__img:hover{
    opacity: 70%;
}



/*R*/
@media screen and (max-width:1335px){
    /*seccion principal*/
    .principal{
        padding-left: 70px;
    }  

    /*seccion proyectos*/
    .proyectos__contenedor{
        margin-right: 93px;
    }

    /*seccion nube*/
    .nube{
        margin-bottom: 36rem;
    }
    .nube__contenedor{
        margin-right: 50px;
    }
    .nube h2{
        width: 510px;
    }
}

@media screen and (max-width:960px){  
    /*seccion principal*/     
    .principal{
        padding-left: 200px;
    }
}

@media screen and (max-width:720px){ 
    /*cuerpo*/    
    body{
        display: flex;
    }

    /*barra de navegación principal*/
    .navPrincipal{
        width: 100%;
        height: 285px;
    }
    .navPrincipal__contNombreLogos--nombre{
        display: none;
    }
    .navPrincipal__contPortafolio--titulo{
        font-size: 80px;
    }
    .navPrincipal__contNombreLogos{
        display: flex;
    }
    #logo-linkedin, #logo-github, #logo-email{
        width: 120px;
        height: 120px;
    }

    /*barra de navegación lateral*/
    .navLateral__logos{
        display: none;
    }

    /*seccion principal*/
    .principal{
        display: flex;
        padding: 280px 0 0 0;
        width: auto;
        height: auto;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .principal__contenedor{
        width: auto;
        text-align: center;
    }
    .principal__img{
        padding: 0;
        margin: 0;
        width: 100%;
        border-radius: 0; 
    }
    .principal__contenedor--saludo{
        font-size: 280px;
    }
    .principal__contenedor--datos{
        font-size: 170px;
    }
    .principal__contenedor--frase, 
    .principal__contenedor--autor{
        font-size: 50px;
    }
    
    /*Secciones*/
    .proyectos, .certificados, .nube{
        display: flex;
        padding-top: 300px;
        margin-bottom: 100px;
        margin-left: 0;
        margin-right: 0;
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .nube{
        margin-bottom: 960px;
    }
    .proyectos__contenedor, 
    .certificados__contenedor, 
    .nube__contenedor{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 0 80px 0;
        padding: 0;
        height: auto;
        width: auto;
        flex-wrap: wrap;
    }
    .proyectos__contenedor--texto,
    .certificados__contenedor--texto, 
    .nube__contenedor--texto{
        display: flex;
        flex-direction: column;
    }
    .proyectos h2, 
    .certificados h2, 
    .nube h2{
        text-align: center;
        font-size: 210px;
        width: auto;
    }
    .proyectos p, 
    .nube p, 
    .certificados p{
        text-align: center;
        font-size: 70px;
        margin-top: 10px;
        
    }
    .certificados p{
        width: 1140px;
    }
    .proyectos p{
        width: 1100px;
    }
    .nube p{
        width: 1150px;
    }
    .proyectos__img, 
    .certificados__img{
        width: 100%;
        height: auto;
    }
    .nube__img{
        width: 100%;
        height: 855px;
    }
    .proyectos .btn-muestrameMas, 
    .certificados .btn-muestrameMas, 
    .nube .btn-muestrameMas{
        margin-top: 25px;
        width: 600px;
        height: 130px;
        padding: 15px 50px;
        font-size: 50px;
        border-radius: 5px;
        
    }
    
}